<footer id="main-footer">
  <div class="container">
    <span class="copyright">&copy; 2015, Valet.io, Inc.</span>
    <ul class="contact-icons">
      <li><a href="https://twitter.com/valetdotio"><i class="icon icon-twitter"></i></a></li>
      <li><a href="https://facebook.com/valetdotio"><i class="icon icon-facebook"></i></a></li>
      <li><a href="mailto:ben@valet.io"><i class="icon icon-mail"></i></a></li>
  </div>
</footer>
