{{#if header.transparent}}
<header id="main-header" class="transparent">
{{else}}
<header id="main-header">
{{/if}}
  <div class="container">
    <h1>
      <a href="/">Valet.io</a>
    </h1>
    <nav>
      <ul class="actions">
        <li class="button">
          <a class="start-demo-request" href="#">Schedule a Demo</a>
        </li>
      </ul>
    </nav>
  </div>
</header>