<header id="main-header" {{#if header.transparent}} class="transparent" {{/if}}>
  <div class="container">
    <h1>
      <a href="/">Valet.io</a>
    </h1>
    <nav>
      <ul class="actions">
        <li>
          <a class="start-demo-request button button-pill button-transparent" href="#">Schedule a Demo</a>
        </li>
      </ul>
    </nav>
  </div>
</header>