<header id="main-header" {{#if header.transparent}} class="transparent" {{/if}}>
  <div class="container">
    <a href="/"><h1>Valet.io</h1></a>
    <nav>
      <ul class="actions">
        <li>
          <a class="start-demo-request button button-pill button-transparent" href="#">Schedule a Demo</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
