---
title: Post

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
content_type: "post"

parent: "blog"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}
.post-container
	%header.blog-header
		%h1
			%a{href: '/blog'} Valet.io Event and Fundraising Technology Blog
		.post-navigation
			{% if post.previous %}
			%a.previous-post{href: '/blog/post/{{post.previous._permalink}}', title: '/blog/post/{{post.previous.title}}'} {{post.previous.title}}
			{% endif %}
			{% if post.next %}
			%a.next-post{href: '/blog/post/{{post.next._permalink}}', title: '/blog/post/{{post.next.title}}'} {{post.next.title}}
			{% endif %}

	%article.post
		%header.post-header
			.post-header-content
				%h1.title
					%a{href: '/blog/post/{{post._permalink}}'} {{post.title}}
				%h2.author
					%a{href: "mailto: {{post.author.email}}?subject={{post.title}}"}
						{{post.author.name}} <span class="job-title">{{post.author.title}}</span>
			.author-avatar
				.image
					%img{src: '{{post.author.avatar.url}}'}

		.post-content
			{{post.body}}
		.post-comments
			%h2.heading Join the Conversation
			#disqus_thread

%script
	var disqus_shortname="valet-io";(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(e)})()

{% endblock %}