#features {
  .hero {
    @include background(linear-gradient(-180deg, #3B0014 0%, #620A0F 17%, #E03B3B 100%));
    text-align: center;

    h2 {
      color: #DADADA;
      font-weight: 300;
    }
  }
}
