// Compass

@import "compass/css3"

// Required Foundation elements

@import "foundation/variables"
@import "foundation/normalize"

// Imported Foundation elements

@import "foundation/components/global"
@import "foundation/components/grid"

// Custom modules

@import "modules/variables"
@import "modules/mixins"
@import "modules/nav"
@import "modules/type"
@import "modules/forms"
@import "modules/buttons"
@import "modules/tooltips"
@import "modules/animation"

html, body
	min-height: 100%	


// Primary page header

.header-container
	padding: .25em 0

	background: $valet-color
	border-bottom: 4px solid darken($valet-color, 5%)

.header-content
	@include grid-row	

.header-logo

	img
		display: block

		margin: 0 auto
		margin-bottom: 1em
		padding-bottom: .5em

		max-height: 2.5em
	@media #{$small}
		@include grid-column(3)
		margin: 0
		padding: 0

		img
			margin: 0
			max-height: 5em

.header-nav
	text-transform: uppercase
	font-size: .75em

	border-top: 2px solid rgba(white, .2)
	padding-top: 1em
	width: 90%
	margin: 0 auto

	margin-top: -1em

	@media #{$tiny}
		font-size: 1em

	@media #{$small}
		@include grid-column(8, true, $float: false)
		margin-top: 0
		border-top: none
		font-size: 1.25em

	@media #{$medium}
		@include grid-column(6, true, $float: false)

	ul
		padding: 0 1em
		color: white

		text-align: justify

		&:after
			content: ''
			display: inline-block
			width: 100%

		&:before
			content: ''
			display: block
			margin-top: -1.75em	

	li
		display: inline-block
		margin-right: -.25em
		position: relative
		top: 1.25em

		padding-bottom: .25em
		border-bottom: 4px solid transparent

		transition: border .5s ease-in-out

		&:hover
			border-bottom-color: rgba(white, .5)

		&:active
			border-bottom-color: white		

.home-banner-container
	background: #5E769A url(../images/skyline-banner.jpg) 80% 25%
	@media #{$tiny}
		background-position: 80% 0
	@media #{$large}
		background-position: 80% 10%	
	padding: 2em 0
	min-height: 480px

	position: relative

.home-banner-photo-credit
	display: none

	@media #{$small}
		display: block

		position: absolute
		bottom: 0
		right: 0

		font-size: .5em
		font-weight: 300

		padding-right: .5em
		padding-bottom: .5em

		color: white
		opacity: .5

.home-banner-content
	@include grid-row


@mixin translucent-box($opacity: .1)
	@include border-radius
	@include box-shadow(inset rgba(black, $opacity) 0 0 3px 3px)
	text-shadow: rgba(black, ($opacity * 2)) 0 3px 2px
	color: white
	background: rgba(black, $opacity)


.home-banner-heading
	text-align: center
	overflow: hidden

	h1
		display: inline-block
		margin: 0 auto
		margin-bottom: .25em
		padding: .5em 1em

		font-size: 1em
		line-height: 1.5em

		@include translucent-box

		@media #{$tiny}
			font-size: 2.5em		

		text-transform: uppercase

		@include animation(fadeInDown 1s)

	h2.small
		font-size: 1em
		font-weight: 300

		color: white

		text-transform: uppercase

		&:before, &:after
			content: '\2014\2014\2014' // 3 em dashes
			letter-spacing: -4px // mash em together
			padding: 0 .5em
			

@include slider-setup(5)
.home-banner-phrases

	width: 500%

	@include clearfix()

	list-style: none
	padding: 0
	margin: 1em 0

	font-size: 2.5em

	color: white

	@include slider(5)

	li
		width: 20%
		float: left


.home-banner-iphone-container
	display: none
	@media #{$small}
		display: block
		@include grid-column(6, $pull: 6)		

.home-banner-iphone-frame-container
	position: relative
	display: inline-block
	max-width: 100%
	overflow: hidden

.home-banner-iphone-frame
	position: relative
	z-index: 2	

.home-banner-iphone-content-container
	position: absolute
	z-index: 1
	top: percentage(251.35/1460.13)
	left: percentage(55/745.8)
	height: percentage(962/1460.13)
	width: percentage(642/745.8)

	overflow: hidden

@include slider-setup(3)

.home-banner-iphone-content
	height: 100%
	width: 300.5%

	margin-left: 0
	@include clearfix()
	@include slider(3)	

.iphone-screen
	display: block
	float: left
	width: percentage(1/3)

.home-banner-lead-form-container
	@media #{$small}
		@include grid-column(6, true, $push: 6)

.home-banner-lead-form, .home-banner-lead-container
	@include grid-row

	.name
		@include grid-row
		.first-name, .last-name
			@include grid-column(6)
	.organization, .email
		@include grid-column(12)
	.submit
		@include grid-column(12)
	input
		@include border-radius

		outline: none
		border: none

		@include box-shadow(inset rgba(black, .25) 0 0 1px 2px)

		&:focus
			@include box-shadow(inset rgba(black, .5) 0 0 2px 3px)	

		font-size: 1.5em

		@media #{$tiny}
			font-size: 1.5em

	input.error
		@include box-shadow(inset rgba(red, .5) 0 0 2px 3px)
	label.error
		background: rgba(white, .75)
		padding: .25em .5em
		@include border-radius(5px)

		font-size: .75em

		@media #{$small}
			font-size: 1em

	.submit-status
		@include grid-column(12)
		margin: .5em 0

	.submit-success, .submit-error
		@include border-radius(5px)
		padding: .5em
		font-size: 1.5em		
	.submit-success			
		background: rgba(white, .75)

	.submit-error
		background: rgba(red, .5)
		color: white

		a
			color: #999	

.request-demo-btn
	margin-top: .5em
	width: 100%	
	font-size: 1.25em

	@media #{$tiny}
		font-size: 1.5em

.home-banner-markets
	@include grid-column(12)	
	color: white

	h3
		font-size: 2.5em
		font-weight: 300

		margin: .75em 0
		padding-top: .75em

		text-shadow: rgba(black, .5) 0 3px 2px
		border-top: rgba(white, .25) solid 3px

.market-list
	list-style: none
	padding: 0

.market-item
	@include grid-row

	padding: .5em
	margin: .5em 0

	@include translucent-box(.4)

	i
		@include grid-column(3)
		border-right: rgba(white, .1) solid 2px
		font-size: 4em
		text-align: center
		padding: 0

	.content
		@include grid-column(9)
		line-height: 1.5em

	h4
		display: inline
		font-size: 1.25em
		font-weight: 500

	p
		display: inline
		font-size: 1.1em

		&:before
			content: '\2014'
			padding: 0 .1em

.home-our-clients
	@include background-image-retina("../images/grid_noise", png, 98px, 98px)
	$border: lighten(#4C4C4C, 10%) 4px solid
	border-top: $border

html.touch .navigation-arrows
	display: none		

.home-our-clients-content
	@include grid-row
	position: relative

	.section-title
		text-align: center
		margin-bottom: .5em
		font-size: 2em

		text-transform: uppercase
		font-weight: 400

		color: $valet-color
		text-shadow: rgba(black, .5) 0 1px 1px

	.navigation-arrows
		position: absolute
		width: 100%
		top: 50%

		z-index: 2

		font-size: 2em

		.icon-arrow-left, .icon-arrow-right
			opacity: .75
			border: none
			outline: none
			background: none

			color: #444

			&:hover
				opacity: 1
				cursor: pointer

			transition: opacity .1s linear

		.icon-arrow-left
			float: left
			margin-left: 10px
			visibility: hidden
		.icon-arrow-right
			float: right
			margin-right: 10px

	.position-indicators
		text-align: center

		list-style: none
		padding: 0

		margin: .5em 0

		.indicator
			display: inline-block

			height: 10px
			width: 10px

			@include border-radius(10px)

			background: #bbb

			&:hover
				cursor: pointer

			transition: background .2s linear

			&.on
				background: #444

.client-list-container
	padding: 0
	padding-top: 1em
	overflow: hidden
	// visibility: hidden
	position: relative

.client-list
	@include clearfix
	padding: 0
	overflow: hidden
	position: relative

	.client-set
		float: left
		width: 100%
		position: relative

		@media #{$small}
			padding: 0 4em


	.client
		@include grid-column(6)
		text-align: center

		color: #444

	.testimonial
		display: none

		@media #{$small}
			border-top: rgba(gray, .25) 1px solid
			display: block

	.logo
		margin: 0 auto
		height: 50px

		img
			max-height: 100%
	.name
		text-transform: uppercase
		font-weight: 500
		font-size: .75em

		color: $valet-color
		text-shadow: rgba(black, .25) 0 1px 0

		@media #{$small}
			font-size: 1.25em


	.quote, .quote-source
		margin: .5em 0

	.quote
		font-weight: 400
		font-style: italic

		line-height: 1.25em

		&:before
			content: '\201C'
		&:after	
			content: '\201D'

	.quote-source
		font-weight: 500

		&:before
			content: '\2014'

	.job-title
		margin: 0
		font-size: .75em
		font-style: italic				




.home-feature-highlights
	background: #4C4C4C
	@include background-image-retina("../images/tweed", png, 200px, 200px)

	color: white
	text-shadow: rgba(black, .5) 0 2px 3px

	$border: lighten(#4C4C4C, 10%) 4px solid

	border-top: $border
	border-bottom: $border

	padding-bottom: 2em

.home-feature-highlight-container
	@include grid-row	

.home-feature-highlight-content
	@include grid-column(12)
	border-bottom: rgba(white, .1) solid 3px

	p
		font-size: 1.5em
		line-height: 1.5em

	a
		color: darken(white, 30%)	

.feature-heading
	margin: 0 auto
	
	h2
		margin: 0
		margin-top: .75em

		font-size: 2.5em
		font-weight: 300

.compatibility-list
	color: #ccc
	font-size: 1.5em
	margin-bottom: 1em

	h5
		display: inline

		margin-right: .5em

		text-transform: uppercase
		font-weight: 400
	
	span
		margin-right: .25em	
	
	i:hover
		color: white

.home-about-us-container, .home-contact-container
	@include background-image-retina("../images/grid_noise", png, 98px, 98px)
	padding: 1em 0

.about-us-content
	@include grid-row

	.person
		margin: 1em 0
		text-align: center
		@media #{$tiny}
			@include grid-column(4)

	.headshot img
		display: block
		margin: 0 auto
		@include border-radius(50%)
		@include box-shadow($valet-color 0 0 0 4px)

		transition: all .2s linear

		&:hover
			@include box-shadow($valet-color 0 0 1px 4px)

	.name
		margin-bottom: .25em
		font-weight: 400

	.job-title
		text-transform: lowercase
		font-weight: 300
		margin: .5em 0

	.contact
		font-size: 2em
		color: #444

		i:hover
			color: #666

.home-contact-content
	@include grid-row

	border-top: rgba(#4C4C4C, .25) 4px solid

	h2
		font-weight: 400
		font-size: 2.5em

	p
		font-size: 1.25em
		line-height: 1.25em
		font-weight: 300

		a
			color: $valet-color
			font-weight: 400

	.heading
		@include grid-column(12)		

	.contact-button
		@include grid-column(12)

		a
			display: block
			width: 100%
			padding: 1em .5em

	@media #{$small}
		.heading
			@include grid-column(8)
		.contact-button
			@include grid-column(4)
			margin-top: 4em

footer
	background: $valet-color
	border-top: 4px solid darken($valet-color, 5%)

.footer-content
	@include grid-row
	color: white

	.social-profiles, .made-in-ny
		display: inline-block

	.social-profiles
		list-style: none


		li
			display: inline
			margin-right: .25em
		a
			color: inherit

	.made-in-ny
		margin: 1em 0

		.icon-heart
			color: darken(red, 10%)
			text-shadow: white 0 0 5px

		&:before
			content: '\2014'

	@media #{$small}
		.social-profiles, .made-in-ny
			font-size: 1.5em

	@media screen and (max-width: #{$small-screen})
		.made-in-ny
			@include grid-column(6, true)
			text-align: right
			&:before
				content: ''

		.social-profiles
			@include grid-column(6)

.blog-header
	h1
		@include grid-column(12)
		padding: 0

		margin: .5em 0

		font-size: 2.5em
		font-weight: 400

	.post-navigation
		@include grid-column(12)
		padding: 0
		padding-top: .75em

		border-top: rgba(#888, .25) 2px solid

		font-weight: 300

		color: #888

		.previous-post
			@include grid-column(6)

			&:before
				padding-right: .5em
				content: '\2190'
		.next-post
			@include grid-column(6, true, $float: false)
			text-align: right

			&:after
				padding-left: .5em
				content: '\2192'

		.previous-post, .next-post
			padding-left: 0
			padding-right: 0

			transition: color .2s linear

			&:hover
				color: #444

.posts, .post-container
	@include background-image-retina("../images/grid_noise", png, 98px, 98px)
	padding: 1em 0

.post, .blog-header
	@include grid-row
	$margin: 1em
	margin-top: $margin
	margin-bottom: $margin
	padding: 1em 1.5em

	background: white

	@include box-shadow(inset 0 0 3px 1px rgba(#222, .4))

	@include border-radius(5px)
	


.post-header, .post-content
	@include grid-row

.post-header
	padding-bottom: 1em
	margin-bottom: 1em
	border-bottom: rgba(#888, .25) 2px solid

	@include grid-row

.page-navigation
	@include grid-row

	.older-posts
		@include grid-column(6)

	.newer-posts
		@include grid-column(6, true, $float: false)

		a
			float: right

	.older-posts, .newer-posts
		padding: 0

		a
			display: inline-block
			@extend .btn

			@include button-color($valet-color)
			color: white		

.post-header-content
	@include grid-column(10)
	padding-left: 0

	.title
		margin: .25em 0
		font-size: 2.5em

	.author
		margin: 0
		font-weight: 400
		font-size: 1em

		.job-title
			font-style: italic
			font-size: .75em

			&:before
				content: '\2014\0020' // em dash, space

.post-header .author-avatar
	@include grid-column(2)

	.image
		float: right

		$size: 75px

		height: $size
		width: $size

		@include border-radius($size)
		overflow: hidden

		border: #888 4px solid

.post-content
	line-height: 1.5em
	font-weight: 300
	font-size: 1.25em

	padding: 1em 0

	a
		color: $valet-color

.read-more
	color: $valet-color

	&:hover
		color: darken($valet-color, 5%)

	&:after
		content: '\2192'
		padding-left: .25em	

.post-comments
	border-top: rgba(#888, .25) 2px solid

	.heading
		font-weight: 300
		font-size: 2em			