// Compass

@import "compass/css3"

// Required Foundation elements

@import "foundation/variables"
@import "foundation/normalize"

// Imported Foundation elements

@import "foundation/components/global"
@import "foundation/components/grid"

// Custom modules

@import "modules/variables"
@import "modules/mixins"
@import "modules/nav"
@import "modules/type"
@import "modules/forms"
@import "modules/buttons"
@import "modules/tooltips"
@import "modules/animation"


// Primary page header

.header-container
	padding: .25em 0

	background: $valet-color
	border-bottom: 4px solid darken($valet-color, 5%)

.header-content
	@include grid-row	

.header-logo

	img
		display: block

		margin: 0 auto
		margin-bottom: 1em
		padding-bottom: .5em

		max-height: 2.5em
	@media #{$small}
		@include grid-column(3)
		margin: 0
		padding: 0

		img
			margin: 0
			max-height: 5em

.header-nav
	text-transform: uppercase
	font-size: .75em

	border-top: 2px solid rgba(white, .2)
	padding-top: 1em
	width: 90%
	margin: 0 auto

	margin-top: -1em

	@media #{$tiny}
		font-size: 1em

	@media #{$small}
		@include grid-column(8, true, $float: false)
		margin-top: 0
		border-top: none
		font-size: 1.25em

	@media #{$medium}
		@include grid-column(6, true, $float: false)

	ul
		padding: 0 1em
		color: white

		text-align: justify

		&:after
			content: ''
			display: inline-block
			width: 100%

		&:before
			content: ''
			display: block
			margin-top: -1.75em	

	li
		display: inline-block
		margin-right: -.25em
		position: relative
		top: 1.25em

		padding-bottom: .25em
		border-bottom: 4px solid transparent

		transition: border .5s ease-in-out

		&:hover
			border-bottom-color: rgba(white, .5)

		&:active
			border-bottom-color: white		

.home-banner-container
	background: url(../images/skyline-banner.jpg) center top
	padding: 2em 0
	min-height: 480px

.home-banner-content
	@include grid-row


@mixin translucent-box($opacity: .1)
	@include border-radius
	@include box-shadow(inset rgba(black, $opacity) 0 0 3px 3px)
	text-shadow: rgba(black, ($opacity * 2)) 0 3px 2px
	color: white
	background: rgba(black, $opacity)


.home-banner-heading
	text-align: center

	h1
		display: inline-block
		margin: 0 auto
		margin-bottom: .25em
		padding: .5em 1em

		font-size: 1em
		line-height: 1.5em

		@include translucent-box

		@media #{$tiny}
			font-size: 2.5em		

		text-transform: uppercase

		@include animation(fadeInDown 1s)

	h2.small
		font-size: 1em
		font-weight: 300

		color: white

		text-transform: uppercase

		&:before, &:after
			content: '\2014\2014\2014' // 3 em dashes
			letter-spacing: -4px // mash em together
			padding: 0 .5em
			

@include fader(5)
.home-banner-phrases
	position: relative
	height: 1em

	list-style: none
	padding: 0
	margin: 0

	font-size: 1em

	color: white

	@media #{$tiny}
		font-size: 1.5em
		margin-bottom: 2em

	li
		position: absolute
		left: 50%
		width: 320px
		margin-left: #{-1 * 320 / 2}px

		@media #{$tiny}
			width: $tiny-screen
			margin-left: -$tiny-screen / 2

		@media #{$small}
			width: $small-screen
			margin-left: -$small-screen / 2

			font-size: 1.5em

		@media #{$medium}
			width: $medium-screen
			margin-left: -$medium-screen / 2

			font-size: 2em


.home-banner-iphone-container
	display: none
	@media #{$small}
		display: block
		@include grid-column(6, $pull: 6)		

.home-banner-iphone-frame-container
	position: relative
	display: inline-block
	max-width: 100%
	overflow: hidden

.home-banner-iphone-frame
	position: relative
	z-index: 2	

.home-banner-iphone-content-container
	position: absolute
	z-index: 1
	top: percentage(251.35/1460.13)
	left: percentage(55/745.8)
	height: percentage(962/1460.13)
	width: percentage(642/745.8)

	overflow: hidden

@include slider-setup(3)

.home-banner-iphone-content
	height: 100%
	width: 300.5%

	margin-left: 0
	@include clearfix()
	@include slider(3)	

.iphone-screen
	display: block
	float: left
	width: percentage(1/3)

.home-banner-lead-form-container
	@media #{$small}
		@include grid-column(6, true, $push: 6)

.home-banner-lead-form, .home-banner-lead-container
	@include grid-row

	.name
		@include grid-row
		.first-name, .last-name
			@include grid-column(6)
	.organization, .email
		@include grid-column(12)
	.submit
		@include grid-column(12)
	input
		@include border-radius

		outline: none
		border: none

		@include box-shadow(inset rgba(black, .25) 0 0 1px 2px)

		&:focus
			@include box-shadow(inset rgba(black, .5) 0 0 2px 3px)	

		font-size: 1.5em

		@media #{$tiny}
			font-size: 1.5em

.request-demo-btn
	margin-top: .5em
	width: 100%	
	font-size: 1.25em

	@media #{$tiny}
		font-size: 1.5em

.home-banner-markets
	@include grid-column(12)	
	color: white

	h3
		font-size: 2.5em
		font-weight: 300

		margin: .75em 0
		padding-top: .75em

		text-shadow: rgba(black, .5) 0 3px 2px
		border-top: rgba(white, .25) solid 3px

.market-list
	list-style: none
	padding: 0

.market-item
	@include grid-row

	padding: .5em
	margin: .5em 0

	@include translucent-box(.4)

	i
		@include grid-column(3)
		border-right: rgba(white, .1) solid 2px
		font-size: 4em
		text-align: center
		padding: 0

	.content
		@include grid-column(9)
		line-height: 1.5em

	h4
		display: inline
		font-size: 1.25em
		font-weight: 500

	p
		display: inline
		font-size: 1.1em

		&:before
			content: '\2014'
			padding: 0 .1em

.home-feature-highlights
	@include background-image-retina("../images/tweed", png, 200px, 200px)

	color: white
	text-shadow: rgba(black, .5) 0 2px 3px

	border-top: lighten(#4C4C4C, 10%) 4px solid

.home-feature-highlight-container
	@include grid-row	

.home-feature-highlight-content
	@include grid-column(12)
	border-bottom: rgba(white, .1) solid 3px

	p
		font-size: 1.5em
		line-height: 1.5em

	a
		color: darken(white, 30%)	

.feature-heading
	margin: 0 auto
	
	h2
		margin: 0
		margin-top: .75em

		font-size: 2.5em
		font-weight: 300

.compatibility-list
	color: #ccc
	font-size: 1.5em

	h5
		display: inline

		margin-right: .5em

		text-transform: uppercase
		font-weight: 400
	
	span
		margin-right: .25em	
	
	i:hover
		color: white