---
title: Home page
published: true
---
!!! 5
%html{lang: 'en'}
	%head
		%meta{charset: 'utf-8'}
		%title {{site.name}}
		%meta{name: 'keywords', value: '{{ site.meta_keywords }}'}
		%meta{name: 'description', value: '{{ site.meta_description }}'}
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
		{{'styles' | stylesheet_tag}}
		{{ '../fonts/all.css' | stylesheet_tag }}
		%link{rel: 'shortcut icon', href: '{{ "favicon.ico" | theme_image_url }}'}
		%link{rel: 'apple-touch-icon-precomposed', href: '{{ "apple-touch-icons/iphone.png" | theme_image_url }}'}
		%link{rel: 'apple-touch-icon-precomposed', sizes: '72x72', href: '{{ "apple-touch-icons/ipad.png" | theme_image_url }}'}
		%link{rel: 'apple-touch-icon-precomposed', sizes: '114x114', href: '{{ "apple-touch-icons/iphone-retina.png" | theme_image_url }}'}
		%link{rel: 'apple-touch-icon-precomposed', sizes: '144x144', href: '{{ "apple-touch-icons/ipad-retina.png" | theme_image_url }}'}
		%script
			(function() {
			var config = {
			kitId: 'euf2kxw',
			scriptTimeout: 3000
			};
			var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
			})();
	%body
		%header.header-container
			.header-content
				.header-logo
					%a{href: '/'}
						%img{src: '{{"valet-io-logo-transparent.png" | theme_image_url}}', alt: 'Valet.io Logo'}
				%nav.header-nav
					%ul
						%li
							%a{href: '#features'} Features
						%li
							%a{href: '#company'} Company
						%li
							%a{href: 'http://blog.valet.io', target: '_blank'} Blog
						%li
							%a{href: '#contact'} Contact			
		{% block 'main' %}
		%section.home-banner-container
			.home-banner-content
				.home-banner-heading
					%h1 Make Every Event a Fundraiser
					%h2.small With Technology That
					%ul.home-banner-phrases.items-5
						%li.item Your Guests Will Love
						%li.item Boosts Your Bottom Line
						%li.item Puts Realtime Fundraising Data in Your Pocket
						%li.item Helps You Get to Know Your Guests
						%li.item Won't Break Your Budget
				.home-banner-lead-container
					.home-banner-lead-form-container
						%form.home-banner-lead-form#lead-form
							.name
								.first-name
									%input{type: 'text', id: 'firstname', name: 'firstname', required: true, placeholder: 'First Name'}
								.last-name
									%input{type: 'text', id: 'last-name', name: 'lastname', required: true, placeholder: 'Last Name'}
							.organization	
								%input{type: 'text', id: 'organization', name: 'organization', required: true, placeholder: 'Organization'}
							.email	
								%input{type: 'email', id: 'email', name: 'email', required: true, placeholder: 'Email'}
							.submit
								%button.request-demo-btn.btn.btn-success{type: 'submit'} Request a Personal Demo
						.home-banner-markets
							%h3 We Love Working With
							%ul.market-list
								%li.market-item
									%i.icon-ribbon
									.content
										%h4 Nonprofits
										%p Take your big events to the next level with mobile pledging and bidding that will delight supporters.
								%li.market-item
									%i.icon-vote-button
									.content
										%h4 Political Campaigns
										%p Let every supporter participate. You energize the crowd&mdash;we'll do the rest.
								%li.market-item
									%i.icon-graduation-cap
									.content
										%h4 Schools
										%p Give your alumni, young and old, an easy and fun way to lend support without hours of extra preparation. 		
					.home-banner-iphone-container
						.home-banner-iphone-frame-container
							.home-banner-iphone-frame
								%img{src: '{{"iphone-frame.png" | theme_image_url}}', alt: 'iPhone running Valet.io mobile pledge drive apps'}
							.home-banner-iphone-content-container
								.home-banner-iphone-content
									%img.iphone-screen{src: '{{"iphone-save-wetlands.png" | theme_image_url}}'}
									%img.iphone-screen{src: '{{"iphone-herbert-love.png" | theme_image_url}}'}
									%img.iphone-screen{src: '{{"iphone-save-wetlands-auction.png" | theme_image_url}}'}
				.home-banner-photo-credit
					%a{href: 'http://whitneybrowne.com/'} &copy; Whitney Browne					
		%section.home-feature-highlights#features
			.home-feature-highlight-container
				.home-feature-highlight-content
					.feature-heading
						%h2 Empower Your Guests
					%p Fundraising doesn't have to get in the way of your mission. Let your guests give at any time, from anywhere in the room, right from their own phones. No messy sign ups, downloads or distractions. Your guests can give the moment they feel inspired.
			.home-feature-highlight-container
				.home-feature-highlight-content
					.feature-heading
						%h2 Follow Up When it Counts
					%p Make sure every guest gets the attention they deserve. We track pledges and bids in real time so you can collect payments at the event via credit card and check. Have the money waiting for you in your bank account the very next morning and spend the day thanking your guests, not chasing after them.
			.home-feature-highlight-container
				.home-feature-highlight-content
					.feature-heading
						%h2 No Assembly Required
					%p Say goodbye to proprietary hardware and apps. Valet.io works on any device with a web browser&mdash;no downloads required. If you need to rent iPads or iPod Touches for a silent auction, we've got you covered through our rental partner, <a href="http://flyingconnected.com">Flying Connected</a>. 
					.compatibility-list
						%h5 Compatible With:	
						%span.hint--top{data: {hint: 'iPhone + iPad'}}
							%i.icon-apple
						%span.hint--top{data: {hint: 'Android'}}
							%i.icon-android
						%span.hint--top{data: {hint: 'Windows Phone'}}
							%i.icon-windows
						%span.hint--top{data: {hint: 'Blackberry'}}
							%i.icon-bb
		%section.home-about-us-container#company
			.about-us-content
				.person
					.headshot
						%img{src: '{{"bvd-headshot.jpg" | theme_image_url}}'}
					%h3.name Ben Drucker
					%h4.job-title CEO / Barista
					.contact
						%a{href: 'mailto: ben@valet.io'}
							%i.icon-mail
						%a{href: 'https://twitter.com/bendrucker'}
							%i.icon-twitter
						%a{href: 'https://linkedin.com/in/bendrucker'}
							%i.icon-linkedin
				.person
					.headshot
						%img{src: '{{"bld-headshot.jpg" | theme_image_url}}'}
					%h3.name Ben Donald
					%h4.job-title Biz Dev
					.contact
						%a{href: 'mailto: bendonald@valet.io'}
							%i.icon-mail
						%a{href: 'https://twitter.com/benldonald'}
							%i.icon-twitter
						%a{href: 'https://www.linkedin.com/in/benldonald'}
							%i.icon-linkedin
				.person
					.headshot
						%img{src: '{{"js-headshot.jpg" | theme_image_url}}'}
					%h3.name Jake Silberg
					%h4.job-title Customer Happiness
					.contact
						%a{href: 'mailto: jakesilberg@valet.io'}
							%i.icon-mail
						%a{href: 'https://twitter.com/jakesilberg'}
							%i.icon-twitter
						%a{href: 'http://www.linkedin.com/pub/jake-silberg/39/321/879'}
							%i.icon-linkedin
		%section.home-contact-container#contact
			.home-contact-content
				.heading
					%h2 Let's Talk!
					%p We love hearing from organizations doing creative things with fundraising or just exploring how they could make their events more engaging. Drop us a line and let us know about your plans. Jake, our head of customer happiness, will get back to your right away! If social media's your thing, you can find us on <a href="https://twitter.com/valetdotio">Twitter</a> and <a href="https://facebook.com/valetdotio">Facebook</a> too.
				.contact-button
					%a.btn.btn-success{href: 'mailto:jakesilberg@valet.io'} Email Jake						
		%footer
			.footer-content
				%ul.social-profiles
					%li
						%a{href: 'https://twitter.com/valetdotio'}
							%i.icon-twitter
					%li
						%a{href: 'https://facebook.com/valetdotio'}
							%i.icon-facebook
					%li
						%a{href: 'https://www.linkedin.com/company/2298511'}
							%i.icon-linkedin
				.made-in-ny
					Made with <i class=icon-heart></i> in NYC
													
		{% endblock %}

		%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
		%script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.5/jquery.scrollTo.min.js"}
		%script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"}
		%script{src: "//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.js"}
		{{'script' | javascript_tag}}
		%script
			var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
			analytics.load("poup9inncd");