---
title: Home page
published: true
---
!!! 5
%html{lang: 'en'}
	%head
		%meta{charset: 'utf-8'}
		%title {{site.name}}
		%meta{name: 'keywords', value: '{{ site.meta_keywords }}'}
		%meta{name: 'description', value: '{{ site.meta_description }}'}
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
		{{'styles.css' | stylesheet_tag: 'all'}}
		%script
			(function() {
			var config = {
			kitId: 'euf2kxw',
			scriptTimeout: 3000
			};
			var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
			})();
	%body
		%header.header-container
			.header-content
				.header-logo
					%a{href: '/'}
						%img{src: '{{"valet-io-logo-transparent.png" | theme_image_url}}', alt: 'Valet.io Logo'}
				%nav.header-nav
					%ul
						%li
							%a{href: '/#features'} Features
						%li
							%a{href: '/company'} Company
						%li
							%a{href: '/blog'} Blog
						%li
							%a{href: '/contact'} Contact			
		{% block 'main' %}
		%section.home-banner-container
			.home-banner-content
				.home-banner-heading
					%h1 Make Every Event a Fundraiser
					%h2.small With Technology That
					%ul.home-banner-phrases.items-5
						%li.item Your Guests Will Love
						%li.item Boosts Your Bottom Line
						%li.item Puts Realtime Fundraising Data in Your Pocket
						%li.item Helps You Get to Know Your Guests
						%li.item Won't Break Your Budget
				.home-banner-lead-container
					.home-banner-lead-form-container
						.home-banner-lead-form
							.name
								.first-name
									%input{type: 'text', required: 'required', placeholder: 'First Name'}
								.last-name
									%input{type: 'text', required: 'required', placeholder: 'Last Name'}
							.organization	
								%input{type: 'text', required: 'required', placeholder: 'Organization'}
							.email	
								%input{type: 'email', required: 'required', placeholder: 'Email'}
							.submit
								%button.request-demo-btn.btn.btn-success Request a Personal Demo
						.home-banner-markets
							%h2 We Love Working With
							%ul.market-list
								%li.market-item
									%img.icon{src: '{{"ribbon-icon.png" | theme_image_url}}'}
									.content
										%h3 Nonprofits
										%p Take your big events to the next level with mobile pledging and building that will delight supporters.
								%li.market-item
									%img.icon{src: '{{"vote-icon.png" | theme_image_url}}'}
									.content
										%h3 Political Campaigns
										%p Seamless pledge drives make sure every supporter is included. You energize the crowd&mdash;we'll do the rest.
								%li.market-item
									%img.icon{src: '{{"school-icon.png" | theme_image_url}}'}
									.content
										%h3 Schools
										%p Give your alumni, young and old, an easy and fun way to lend support without hours of extra preparation. 		
					.home-banner-iphone-container
						.home-banner-iphone-frame-container
							.home-banner-iphone-frame
								%img{src: '{{"iphone-frame.png" | theme_image_url}}', alt: 'iPhone running Valet.io mobile pledge drive apps'}
							.home-banner-iphone-content-container
								.home-banner-iphone-content
									%img.iphone-screen{src: '{{"iphone-save-wetlands.png" | theme_image_url}}'}
									%img.iphone-screen{src: '{{"iphone-herbert-love.png" | theme_image_url}}'}
									%img.iphone-screen{src: '{{"iphone-save-wetlands-auction.png" | theme_image_url}}'}
		{% endblock %}