<!DOCTYPE html>
<!--[if lte IE 9]>      <html class="no-js ie-ancient"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{seo_title}} | {{seo_suffix}}</title>
        <meta name="description" content="{{seo_description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/valet-io-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/valet-io-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/valet-io-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="/images/icons/valet-io-touch-icon-57.png">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body id="{{page.basename}}">
      <div class="ie-ancient-message">
        <p>
          This site is best viewed in a <a href="http://browsehappy.com/">newer browser</a>. The layout may not look quite right in older versions of Internet Explorer. <a href="mailto:jordancohen@valet.io">Let us know</a> if we can help!
        </p>
      </div>
      <div id="main">
          {{> body }}
      </div>
    </body>
    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'pvf2zoy',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <script src="/__/env.js"></script>
    <script type="text/javascript">
      if (window.__env.segment) {
        window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
        window.analytics.load(window.__env.segment);
        window.analytics.page();
      }
    </script>
    <script src="/scripts/app.js"></script>
</html>
