---
title: Features
seo_title: Powerful Event Fundraising
---

<header class="hero">
  <div class="container">
    <div class="headlines">
      <h1>Simple, powerful, event fundraising</h1>
      <h2>Apps to help you capture donations when it counts</h2>
    </div>
    <ul class="section-tiles">
      <li>
        <a href="#easy">
          <i class="section-tile-icon icon icon-mobile"></i>
          <div class="tile-body">
            <h3>Easy for donors</h3>
            <h4>Mobile donations with no downloads.</h4>
          </div>
        </a>
      </li>
      <li>
        <a href="#momentum">
          <i class="section-tile-icon icon icon-projection"></i>
          <div class="tile-body">
            <h3>Ignite the crowd</h3>
            <h4>Projected totals build momentum.</h4>
          </div>
        </a>
      </li>
      <li>
        <a href="#payment">
          <i class="section-tile-icon icon icon-credit"></i>
          <div class="tile-body">
            <h3>Get paid fast</h3>
            <h4>Payment processing built in.</h4>
          </div>
        </a>
      </li>
    </ul>
  </div>
</header>
<article id="content">
  <section id="easy">
    <div class="container">
      <header class="headlines">
        <h2>The easiest way to donate</h2>
        <h3>Capture donations during the critical moments of your event</h3>
      </header>
      <div class="content two-column">
        <div class="details">
          <div class="detail">
            <h4>1-Step Pledge</h4>
            <p>Say goodbye to donation tables and checkout lines. Guests can pledge directly from their own phone. There are no apps to download — donors can go from inspiration to commitment in under 30 seconds.</p>
            <a class="action" href="#" v-on="click:demoModal.show"><span class="arrow">Try it</span></a>
          </div>
          <div class="detail">
            <h4>Works Everywhere</h4>
            <p>With no devices to hand out or special WiFi networks to set up, Valet.io Pledge works everywhere. Whether you’re expecting 100 guests or 1,000, we’ll be ready.</p>
          </div>
        </div>
        <div class="view">
          <img class="view-content" src="/images/phone-contents.svg" />
      </div>
    </div>
  </section>
  <section id="momentum" class="section-shaded">
    <div class="container">
      <header class="headlines">
        <h2>Harness the power of events</h2>
        <h3>Project donor names and fundraising totals to build excitement</h3>
      </header>
      <div class="content two-column">
        <div class="details">
          <div class="detail">
            <h4>Engage Your Guests</h4>
            <p>Display donor names and fundraising totals up on the big screen, alongside the custom URL where your guests can pledge. As your total ticks up and the energy builds, guests will be eager to join in.</p>
            <a class="action" href="#" v-on="click:demoModal.show"><span class="arrow">See it in action</span></a>
          </div>
          <div class="detail">
            <h4>Zero Hassle Setup</h4>
            <p>We know how stressful producing an event can be. That’s why Valet.io Projector runs on any laptop with an Internet connection. Spotty venue WiFi? We’ll send you a 4G hotspot, totally free.</p>
          </div>
        </div>
        <div class="view">
          <img class="view-content" src="/images/projector-contents.svg" />
        </div>
      </div>
    </div>
  </section>
  <section id="payment">
    <div class="container">
      <header class="headlines">
        <h2>Get paid, easier and faster</h2>
        <h3>With payment processsing, automatic reminders, and personal follow up</h3>
      </header>
      <div class="content one-column">
        <ul class="detail-list">
          <li class="detail">
            <i class="icon icon-credit"></i>
            <div class="detail-body">
              <h4>Built-In Payment Processing</h4>
              <p>Donors can pay right away with their credit card. We capture their contact and billing information for you and even display your name on their credit card statement. One rate, including American Express.</p>
            </div>
          </li>
          <li class="detail">
            <i class="icon icon-bubble"></i>
            <div class="detail-body">
              <h4>Automatic Reminders</h4>
              <p>What if a guest pledges but doesn’t pay right away? No problem! We’ll send them automatic SMS reminders with a link to the same easy-to-use mobile payment form.</p>
            </div>
          </li>
          <li class="detail">
            <i class="icon icon-phone"></i>
            <div class="detail-body">
              <h4>Personal Follow Up</h4>
              <p>If we still haven’t received a payment after three reminders, we’ll call up donors to walk them through the process.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>
<footer>
  <div class="container">
    <div class="text">
      <h3>Make your next event your best</h3>
      <h4>We'd love to learn what you have planned!</h4>
    </div>
    <div class="action">
      {{!-- <span class="phone">718-555-1235</span>
      <span class="or">or</span> --}}
      <a class="button button-green button-large" href="mailto:jordan@valet.io">Send us an email</a>
    </div>
  </div>
</footer>
