---
title: How it Works
seo_title: How our Mobile Fundraising System Works
---

<header class="hero">
  <div class="container">
    <div class="headlines">
      <h1>Simple, powerful, event fundraising</h1>
      <h2>End the auction. Embrace the future.</h2>
    </div>
    <div class="questions">
      <img src="/images/gavel-cross-out.svg" />
      <ul>
        <li>Raising money at your next event?</li>
        <li>Tired of countless hours spent organizing auctions?</li>
        <li>Looking for a way to collect money from a captive audience?</li>
      </ul>
    </div>
    <h3 class="closing-tagline">Valet.io can help you raise more money at your next event in two easy steps!</h3>
  </div>
</header>
<article id="content">
  <section id="call-attention">
    <div class="step-number">
      <span>1</span>
    </div>
    <div class="container">
      <h2>Call Attention to Your Screen</h2>
      <div class="content two-column">
        <div>
          <p>
            With Valet.io, you get a fully branded splash screen to drive pledges at your event and show your audience in real time how much money they’ve pledged.
          </p>
          <p>
            Your splash screen will help drive momentum and encourage maximum participation from guests.
          </p>
        </div>
        <div>
          <div class="view-content">
            <img src="/images/projector-contents.svg" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="pledge-and-donate">
    <div class="step-number">
      <span>2</span>
    </div>
    <div class="container">
      <h2>Guests Pledge Then Donate</h2>
      <div class="content two-column">
        <div>
          <p>
            With just a <strong>name</strong> and <strong>phone number</strong> guests can pledge any amount
          </p>
          <p class="explanation-divider">Then</p>
          <p>
            They can fulfill the pledge immediately on a pre-filled Valet.io donation page
          </p>
          <p class="explanation-divider">Or</p>
          <p>
            If they don’t convert, we send them text-message reminders to the same pre-filled donation page
          </p>
        </div>
        <div>
          <div class="view-content">
            <img src="/images/phone-contents.svg" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="payment">
    <div class="container">
      <header class="headlines">
        <h2>Get paid, easier and faster</h2>
        <h3>With payment processsing, automatic reminders, and personal follow up</h3>
      </header>
      <div class="content one-column">
        <ul class="detail-list">
          <li class="detail">
            <i class="icon icon-credit"></i>
            <div class="detail-body">
              <h4>Built-In Payment Processing</h4>
              <p>Donors can pay right away with their credit card. We capture their contact and billing information for you and even display your name on their credit card statement. One rate, including American Express.</p>
            </div>
          </li>
          <li class="detail">
            <i class="icon icon-bubble"></i>
            <div class="detail-body">
              <h4>Automatic Reminders</h4>
              <p>What if a guest pledges but doesn’t pay right away? No problem! We’ll send them automatic SMS reminders with a link to the same easy-to-use mobile payment form.</p>
            </div>
          </li>
          <li class="detail">
            <i class="icon icon-phone"></i>
            <div class="detail-body">
              <h4>Personal Follow Up</h4>
              <p>If we still haven’t received a payment after three reminders, we’ll call up donors to walk them through the process.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>
<footer>
  <div class="container">
    <div class="text">
      <h3>Make your next event your best</h3>
      <h4>We'd love to learn what you have planned!</h4>
    </div>
    <div class="action">
      {{!-- <span class="phone">718-555-1235</span>
      <span class="or">or</span> --}}
      <a class="button button-green button-large" href="mailto:jordan@valet.io">Send us an email</a>
    </div>
  </div>
</footer>
