---
title: Home
seo_title: Mobile Event Fundraising
header:
  transparent: true
---
<header class="hero">
  <div class="container">
    <div class="text">
      <h1>Event fundraising, reimagined</h1>
      <h2>We help you collect and manage donations so you can focus on what matters: building relationships.</h2>
        <div class="button-group">
          <a class="button button-primary" href="/how-it-works" title="Learn how to increase your in event donations with Valet.io">Learn More</a>
          <a class="button button-transparent" href="/demo" title="Try a live demo">Try It</a>
      </div>
    </div>
<div class="demo"></div>
</header>