<div class="modal-overlay" v-show="modalVisible" v-cloak></div>
<div v-component="modal" id="demo-request-modal" name="demoModal" v-cloak>
  <div class="modal-header">
    <h1 class="modal-title">Request a 1-1 Demo</h1>
    <span class="modal-close" v-on="click:hide">x</span>
  </div>
  <div class="modal-body">
    <p id="demo-cta">
      We'd love to hear more about your upcoming fundraisers and explain how Valet.io can help!
    </p>
    <form v-on="submit:submit($event)">
      <div class="input-group">
        <label for="demo-request-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="demo-request-name" v-model="name" required />
      </div>
      <div class="input-group">
        <label for="demo-request-organization" class="form-label">Organzation</label>
        <input type="text" class="form-control" id="demo-request-organization" v-model="organization" required />
      </div>
      <div class="input-group">
        <label for="demo-request-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="demo-request-email" v-model="email" required />
      </div>
      <button type="submit" class="button button-green button-large">Request</button>
    </form>
  </div>
</div v-component="modal">
