<div class="modal" id="demo-request-modal">
  <div class="modal-header">
    <h1>Request a 1-1 Demo</h1>
  </div>
  <div class="modal-body">
    <p>
      We'd love to hear more about your upcoming fundraisers and explain how Valet.io can help!
    </p>
    <form>
      <label for="demo-request-name">Name</label>
      <input type="text" id="demo-request-name" required />
      <label for="demo-request-organization">Organziation</label>
      <input type="text" id="demo-request-organization" required />
      <label for="demo-request-email">Email</label>
      <input type="email" id="demo-request-email" required />
      <button type="submit" class="button button-green">Request</button>
    </form>
  </div>
</div>