.button
  display: inline-block
  line-height: 1.25em
  font-size: 1.3em
  border-radius: .25em
  padding: .25em .5em
  margin: .2em
  text-decoration: none
  color: #222
  border: 1px solid #222
  text-shadow: 0 1px 2px rgba(0,0,0,.2)
  box-shadow: inset 0 1px 2px rgba(black, .2), 0 1px 2px rgba(black, .3)

.button-large
  font-size: 1.8em

.button-green
  background: linear-gradient(bottom, $green 2%, darken($green, 10%) 10%, $green)
  border: 1px solid darken($green, 25%)
  color: white
  
.button-transparent
  color: #eee
  border: 2px solid #ddd

.button-pill
  display: inline-block
  border-radius: 5em
  padding: 0 .8em
  height: 1.5em
  line-height: @height

  &:hover
    color: white