.button
  font-size: 1.3em
  border-radius: .25em
  padding: .25em .5em
  text-decoration: none
  color: #222
  border: 1px solid #222
  
.button-transparent
  color: #eee
  border: 1px solid #ddd

.button-pill
  display: inline-block
  border-radius: 5em
  padding: 0 .8em
  height: 1.5em
  line-height: @height

  &:hover
    color: white