header.hero
  height: 500px
  position: relative
  padding-top: 50px
  margin-top: -1 * @padding-top
  margin-left: -10px
  margin-right: @margin-left

  background:  linear-gradient(150deg, rgba(149, 31, 30, 1) 0%, rgba(225, 65, 0, 1) 53.65%, rgba(210, 111, 0, 1) 100%);