header.hero
  position: relative
  padding-top: 55px
  margin-top: -1 * @padding-top
  margin-left: -10px
  margin-right: @margin-left

  color: white
  background:  linear-gradient(150deg, saturate(darken($valet-io-color, 20%), 20%), rgb(225, 65, 0) 50%, rgb(210, 111, 0))

  text-shadow: 0 1px 2px rgba(black, .2)
  -webkit-font-smoothing: antialiased

  &:after
    content: ''
    display: block
    position: absolute
    bottom: 0
    width: 100%
    height: 5px
    background: linear-gradient(bottom, rgba(black, .5), rgba(black, .1) 25%, transparent)

  .text
    text-align: center

  h1
    font-weight: 500
    font-size: 2.2em
    margin-top: 1.2em
    margin-bottom: .5em

  h2
    font-size: 1.2em
    line-height: 1.4em
    padding-bottom: .2em
    margin-top: .5em
    margin-bottom: 1em

    color: rgba(white, .8)

  h1, h2
    padding-left: 20px
    padding-right: @padding-left

  .demo
    margin-top: 1em

  .phone
    background: url('/images/iphone-5s.svg') no-repeat
    background-repeat: no-repeat
    background-size: 100%
    background-position: 75% top
    width: 80%
    max-width: 320px
    margin-left: auto
    margin-right: auto
    height: 250px

  @media $desktop
    .container
      clearfix()

    .text, .demo
      width: 50%
      float: left

    .text
      padding-top: 2em
      font-size: 1.5em
      text-align: left
    .phone
      margin-bottom: 2em
      height: 500px
      background-size: auto 100%