.links
  border = 1px solid rgba(lighten(black, 50%), .1)
  border-bottom: border

  section
    text-align: center

    a
      display: block
      padding: 1em
      border-top: border

    i
      color = desaturate($green, 30%)
      display: inline-block
      font-size: 4em
      border-radius: 50%
      border: 3px solid color
      color: color
      padding: .5em

    h2
      color: #292e31
      font-size: 1.5em

    p
      font-size: 1.2em
      line-height: 1.5em

    color: lighten(black, 40%)