@import 'modules/variables'

header.hero
  position: relative
  padding-top: 55px
  margin-top: -1 * @padding-top
  margin-left: -10px
  margin-right: @margin-left

  color: white
  background:  linear-gradient(150deg, saturate(darken($valet-io-color, 20%), 20%), rgb(225, 65, 0) 50%, rgb(210, 111, 0))

  text-shadow: 0 1px 2px rgba(black, .2)
  -webkit-font-smoothing: antialiased

  &:after
    content: ''
    display: block
    position: absolute
    bottom: 0
    width: 100%
    height: 5px
    background: linear-gradient(bottom, rgba(black, .5), rgba(black, .1) 25%, transparent)

  .text
    text-align: center

  h1
    font-weight: 500
    font-size: 2.2em
    margin-top: 1em
    margin-bottom: .5em

  h2
    font-size: 1.2em
    line-height: 1.4em
    padding-bottom: .2em
    margin-top: .5em
    margin-bottom: 1em

    color: rgba(white, .8)

  h1, h2
    padding-left: 20px
    padding-right: @padding-left

  $phone-ratio = 0.48
  $projector-ratio = 2
  $projector-screen-ratio = 1.22

  .demo
    position: relative
    margin-top: 1em       

  .phone
    background: url('/images/iphone-5s.svg') no-repeat
    background-repeat: no-repeat
    background-size: 100%
    background-position: 75% top
    width: 80%
    max-width: 320px
    margin-left: auto
    margin-right: auto
    height: 250px

  .projector, .projector-screen, projector-beam
    display: none

  @media $desktop

    .container
      clearfix()

    .text, .demo
      width: 50%
      float: left

    .demo
      height: 500px

    .text
      padding-top: 2em
      font-size: 1.5em
      text-align: left

    .phone
      position: absolute
      top: 0
      right: 0
      transform: translate(0, 75px)
      height: 350px
      width: @height * $phone-ratio
      z-index: 20

    .projector
      display: block
      position: absolute
      top: 375px
      left: 140px
      height: 45px
      width: $projector-ratio * @height
      background: url('/images/projector.svg') no-repeat
      background-size: auto 100%
      z-index: 10

    .projector-beam
      display: block
      position: absolute
      top: 316px
      left: 14px
      height: 65px
      width: 350px
      background: url('/images/projector-beam.svg') no-repeat
      z-index: 8

    .projector-screen
      display: block
      position: absolute
      transform: translate(10px, 45px)
      width: 350px
      height: round(@width * (1 / $projector-screen-ratio))
      background: url('/images/projector-screen.svg') no-repeat
      background-size: auto 100%
      z-index: 10

  &.try-it
    
    .text
      transition: width .5s ease-in-out 2s, height .5s ease-in-out 2s, opacity 2s ease-in-out
      opacity: 0
      width: 0
      height: 0
      overflow: hidden

    .demo
      transition: all .5s ease-in-out 2s
      width: 100%
      $height = 500px
      min-height: $height + 50px

      .projector-beam
        transition: transform .5s ease-in 1s, opacity .1s 1.4s
        transform: scaleX(0)
        opacity: 0

      .projector
        opacity: 0
        transition: opacity .5s ease-out 1.5s

      .phone
        transition: all .5s ease-in-out 2s
        transform: translate(0, 15px)
        height: .9 * $height
        width: @height * $phone-ratio

      .projector-screen
        transition: all .5s ease-in-out 2s
        transform: translate(0, 0)
        height: $height
        width: @height * $projector-screen-ratio 

.links
  border = 0 solid rgba(lighten(black, 35%), .1)
  border-bottom: border

  section
    text-align: center

    a
      display: block
      padding: 1em
      border-top: border
      border-top-width: 1px
      color: inherit

      &:hover
        background: rgba(14,60,86,0.04)

    i
      color = desaturate($green, 30%)
      display: inline-block
      font-size: 4em
      border-radius: 50%
      border: 3px solid color
      color: color
      padding: .5em

    h2
      color: #292e31
      font-size: 1.5em

    p
      font-size: 1.2em
      line-height: 1.5em

    color: lighten(black, 40%)

  @media $tablet
    display: table

    section
      display: table-cell
      width: 33.333%

      a
        padding: 2em 1em
        border: border

      &:nth-child(1) a
        border-left-width: 1px
      &:nth-child(2) a
        border-left-width: 1px
        border-right-width: 1px
      &:nth-child(3) a
        border-right-width: 1px

      h2
        margin-top: 1em