.links
  border = 1px solid rgba(lighten(black, 50%), .1)
  border-bottom: border

  section
    text-align: center

    a
      display: block
      padding: 1em
      border-top: border

    h2
      color: #292e31
      font-size: 1.5em

    p
      font-size: 1.2em
      line-height: 1.5em
      font-weight: 300

    color: lighten(black, 40%)