@import 'modules/reset';


@import 'bourbon';

@import 'modules/variables';
@import 'modules/grid';
@import 'modules/type';
@import 'modules/icons';
@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/modal';
@import 'modules/browser.scss';

@import 'pages/home';
@import 'pages/features';

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
}

a {
  color: #008CDD;
}

[v-cloak] {
  display: none
}

.arrow {
  &:after {
    content: '\25b6';
    font-size: .5em;
    position: relative;
    left: .5em;
    bottom: .1em;
  }
}

#main {
  position: relative;
}

#oob {
  position: absolute;
  background: rgba(white, .9);
  box-shadow: 0 2px 5px rgba(black, .2);
  font-size: 1.5em;
  line-height: 1.25em;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  padding: 2em 2em;
  text-align: center;

  p {
    margin-bottom: 1em;
  }
}
