global-reset()
reset-html5()

*
  box-sizing: border-box

@import 'modules/variables'
@import 'modules/grid'
@import 'modules/type'
@import 'modules/icons'
@import 'modules/form'
@import 'modules/buttons'
@import 'modules/header'

body
  background: $background-color