@import 'modules/reset';


@import 'bourbon';

@import 'modules/variables';
@import 'modules/grid';
@import 'modules/type';
@import 'modules/icons';
@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/modal';
@import 'modules/browser.scss';

@import 'pages/home';
@import 'pages/features';

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
}

a {
  color: #008CDD;
}

.arrow {
  &:after {
    content: '\25b6';
    font-size: .5em;
    position: relative;
    left: .5em;
    bottom: .1em;
  }
}
