body
  font-size: 14px
  font-family: $font
  font-weight: 400

h1
  font-size: 2em
  @media $tablet
    font-size: 2.8em
  @media $desktop
    font-size: 3.6em

h2
  font-size: 1.6em
  @media $tablet
    font-size: 2em
  @media $desktop
    font-size: 2.4em

h3
  font-size: 1em
  @media $tablet
    font-size: 1.3em
  @media $desktop
    font-size: 1.6em