// Breakpoints
$tablet = "all and (min-width: 768px)"
$desktop = "all and (min-width: 1280px)"

// Typography
$secondary-font = "Lucida Grande","Lucida Sans Unicode",Geneva,sans-serif
$font = "effra", $secondary-font

// Colors
$background-color = #f8f9fb
$valet-io-color = #DF413D
$green = #23C923